<%= button_to bucket_bubble_publish_path(bubble.bucket, bubble), class: "btn btn--positive full-width justify-start borderless" do %>
  <%= image_tag "alert.svg", aria: { hidden: true }, size: 24 %>
  <span>Publish</span>
<% end %>
