<div class="card-perma__notch card-perma__notch--bottom">
  <%= button_to "Create card", card_publish_path(card), class: "btn" %>
  <%= button_to "Create and add another", collection_cards_path(card.collection, publish_current: card.id), method: :post, class: "btn btn--reversed", form: { data: { turbo: false } } %>
  <%= button_to "Save as a draft", collection_card_path(card.collection, card), name: "card[status]", value: "drafted", method: :put, class: "btn btn--reversed" %>
</div>
